<!DOCTYPE html>
<html>
  <head>
    <title>Hash.Reviews</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body>
  	<div class="container" style="max-width:800px">
  	<header>
  		<h1 style="font-size: 20px"><a style="text-decoration: none" href="{{ app.request.baseUrl }}">hash.reviews</a> {% include "HashReviewsTransactionReviewBundle:Default:searchForm.html.twig" %}</h1>
  	</header>

