{% include "HashReviewsTransactionReviewBundle:Default:header.html.twig" %}

<h2>Enter details for the transaction you want to review.</h2>

<p>In <a href="https://coinbase.com/accounts">CoinBase</a> you can get these details by clicking on a transaction in your account and then 'Advanced Details'.</p>

{% include "HashReviewsTransactionReviewBundle:Default:flashbag.html.twig" %}

{{ form(form) }}

<p></p>
<h3>Or search existing reviews.</h3>
{% include "HashReviewsTransactionReviewBundle:Default:searchForm.html.twig" %}

{% include "HashReviewsTransactionReviewBundle:Default:footer.html.twig" %}