{% include "HashReviewsTransactionReviewBundle:Default:header.html.twig" %}

<h2>Rate and Review a transaction.</h2>

{% include "HashReviewsTransactionReviewBundle:Default:flashbag.html.twig" %}

{% if existing_link %}
	<p>Review already exists though you can revise it if you can sign it.<br />
	<a href="{{ existing_link }}" target="_blank">Read Existing Review</a>.</p> 

{% endif %}

{{ form(form) }}
<p></p>

<p>Please provide an accurate rating and review.  You  may address the {% if review.re == 'to' %}goods or services received{% else %}client/customer{% endif %} and/or the transaction itself.</p>

<p>If you have been pressured to change your review please let us know and/or add that information to your review.</p>

<p><a href="http://en.wikipedia.org/wiki/Shill">Shill</a> reviews will be blocked.</b>


{% include "HashReviewsTransactionReviewBundle:Default:footer.html.twig" %}
