<div style="text-align: top; float: right; font-size: 13px">
search: <input type="text" size="50" id="query" placeholder="address or transaction hash" value="{% if query is defined %}{{ query }}{% endif %}">
</div>

<script type="text/javascript">
	$("#query").change(function() {
	  	window.location = "{{ app.request.baseUrl }}/search/" + $("#query").val();
	});

</script>