<div style="text-align: top; float: right; font-size: 15px; width: 400px;">
<input type="button" style="float: right; margin-left: 5px;" value="search" />
<input type="text" id="query" class="form-control" style="float: right; height: 22px; width: 300px;" placeholder="enter address or transaction hash"  value="{% if query is defined %}{{ query }}{% endif %}">

</div>

<script type="text/javascript">
	$("#query").change(function() {
	  	window.location = "{{ app.request.baseUrl }}/reviews/" + $("#query").val();
	});

</script>