{% include "HashReviewsTransactionReviewBundle:Default:header.html.twig" %}

<h2>Finished!</h2>

<p><a href="{{ link }}">Read Your Review</a></p>

<p>Message and signature verified using <a href="https://blockchain.info/api">BlockChain.info API</a>.  Transaction information:<br />
<a href="https://blockchain.info/tx/{{ review.txHash }}">https://blockchain.info/tx/{{ review.txHash }}</a>

{% include "HashReviewsTransactionReviewBundle:Default:footer.html.twig" %}
